@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900|Open+Sans:300,400,600,600i,700,800&display=swap&subset=korean');

html,
body {
  color: rgba(0, 0, 0, 0.78);
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Noto Sans KR',
    sans-serif;
  background-color: #efefef;
}

:root {
  --primary-color: rgb(90, 179, 17);
  --primary-light-color: rgb(90, 190, 17);
  --primary-deep-color: rgb(90, 140, 17);
  --primary-few-color: rgba(90, 179, 17, 0.25);
  --secondary-color: rgba(0, 0, 0, 0.45);
  --grey-color: grey;
  --gray-color: gray;
  --light-grey-color: rgba(0, 0, 0, 0.21);
  --full-white-color: rgb(255, 255, 255);
}

.v--modal-overlay {
  background: rgba(0, 0, 0, 0.56);
}
