a {
  color: var(--full-white-color);
  text-decoration: none;
  outline: none;
}
a:hover,
a:active {
  color: var(--full-white-color);
  text-decoration: none;
  outline: none;
  background-color: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}
